In [211]:
import pandas as pd
import glob

In [212]:
TrainX = pd.read_csv("x_train_gr_smpl.csv")
TrainX.head()

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
0,78.0,77.0,76.0,82.0,87.0,92.0,104.0,119.0,117.0,120.0,...,87.0,79.0,72.0,76.0,83.0,95.0,99.0,98.0,95.0,94.0
1,73.0,75.0,79.0,78.0,76.0,75.0,89.0,107.0,133.0,125.0,...,96.0,93.0,85.0,77.0,69.0,73.0,83.0,100.0,101.0,101.0
2,72.0,75.0,79.0,77.0,81.0,89.0,105.0,109.0,86.0,90.0,...,98.0,95.0,88.0,80.0,73.0,71.0,74.0,80.0,89.0,95.0
3,67.0,70.0,74.0,80.0,93.0,107.0,110.0,96.0,69.0,100.0,...,112.0,92.0,87.0,82.0,77.0,72.0,70.0,72.0,81.0,88.0
4,74.0,74.0,73.0,72.0,77.0,87.0,104.0,109.0,84.0,83.0,...,100.0,98.0,99.0,100.0,99.0,89.0,78.0,66.0,68.0,72.0

In [213]:
glob.glob('/Users/zuuz/Desktop/CSV_Files/*.csv')

['/Users/zuuz/Desktop/CSV_Files/y_train_smpl_0.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_1.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_3.csv',
 '/Users/zuuz/Desktop/CSV_Files/x_train_gr_smpl.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_2.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_6.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_7.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_5.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_4.csv',
 '/Users/zuuz/Desktop/CSV_Files/x_train_smpl_bin.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_9.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_8.csv']

In [214]:
TrainY0 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_0.csv', names = ["y0"], header=0)
TrainY1 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_1.csv', names = ["y1"], header=0)
TrainY2 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_2.csv', names = ["y2"], header=0)
TrainY3 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_3.csv', names = ["y3"], header=0)

In [215]:
TrainY4 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_4.csv', names = ["y4"], header=0)
TrainY5 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_5.csv', names = ["y5"], header=0)
TrainY6 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_6.csv', names = ["y6"], header=0)
TrainY7 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_7.csv', names = ["y7"], header=0)
TrainY8 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_8.csv', names = ["y8"], header=0)
TrainY9 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_9.csv', names = ["y9"], header=0)

In [216]:
TestX = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/x_train_smpl_bin.csv')

In [217]:
TrainY = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl.csv', names = ["yALL"], header=0)

In [239]:
TrainY.shape

(9690, 1)

In [219]:
frames = [TrainX, TrainY0, TrainY1, TrainY2, TrainY3, TrainY4, TrainY5, TrainY6, TrainY7, TrainY8, TrainY9, TrainY]
randomdf = pd.concat(frames, axis=1).sample(frac=1)
TrainXRandom = randomdf.loc[:,["Y" not in col for col in randomdf.columns]]
randomdf.head()

,0,1,2,3,4,5,6,7,8,9,...,y1,y2,y3,y4,y5,y6,y7,y8,y9,yALL
6766,68.0,81.0,78.0,66.0,70.0,68.0,67.0,64.0,58.0,67.0,...,1,1,1,0,1,1,1,1,1,4
5984,40.0,40.0,41.0,42.0,43.0,44.0,43.0,43.0,44.0,40.0,...,1,1,0,1,1,1,1,1,1,3
459,94.0,92.0,89.0,86.0,87.0,82.0,82.0,84.0,83.0,82.0,...,0,1,1,1,1,1,1,1,1,1
5022,10.0,10.0,10.0,10.0,11.0,10.0,10.0,11.0,10.0,11.0,...,1,1,0,1,1,1,1,1,1,3
4745,255.0,255.0,255.0,255.0,255.0,253.0,246.0,249.0,255.0,255.0,...,1,1,0,1,1,1,1,1,1,3

In [263]:
from sklearn.model_selection import train_test_split
X_train, testX, Y_train, testY = train_test_split(TrainX,TrainY,test_size = 0.20)

In [264]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, Y_train)

/Users/zuuz/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GaussianNB()

In [265]:
predictionsY = model.predict(testX)

In [268]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(testY, predictionsY))

Accuracy: 0.17795275590551182

In [269]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result = confusion_matrix(testY, predictionsY)
print("Confusion Matrix:")
print(result)
result1 = classification_report(testY, predictionsY)
print("Classification Report:")
print(result1)
result2 = accuracy_score(testY, predictionsY)
print("Accuracy:", result2)

Confusion Matrix:
[[ 7  4  0  1  1  1  0  0  0  0]
 [25 29 25  5  2 35 13  5  1  3]
 [ 7 24 26 20  6 37 11  8  1  1]
 [ 5  5  1 14  0 24 29  1  4  0]
 [ 5 17  9  7  4 38 51  3  0  2]
 [ 0  0  1  0  0 12  4  3  1  0]
 [ 0  0  0  0  0  9  6  0  3  1]
 [ 0  0  0  0  0 10  6  2  2  2]
 [ 0  5  2  0  0 10 11  0 11  0]
 [ 0  0  0  0  0  7  0  4  4  2]]
Classification Report:
              precision    recall  f1-score   support

           0       0.14      0.50      0.22        14
           1       0.35      0.20      0.26       143
           2       0.41      0.18      0.25       141
           3       0.30      0.17      0.22        83
           4       0.31      0.03      0.05       136
           5       0.07      0.57      0.12        21
           6       0.05      0.32      0.08        19
           7       0.08      0.09      0.08        22
           8       0.41      0.28      0.33        39
           9       0.18      0.12      0.14        17

    accuracy                           0.18       635
   macro avg       0.23      0.25      0.18       635
weighted avg       0.31      0.18      0.19       635

Accuracy: 0.17795275590551182

In [270]:
from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB()
model.fit(X_train, Y_train)

/Users/zuuz/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

BernoulliNB()

In [271]:
predictionsY = model.predict(testX)

In [272]:
result = confusion_matrix(testY, predictionsY)
print("Confusion Matrix:")
print(result)
result1 = classification_report(testY, predictionsY)
print("Classification Report:")
print(result1)
result2 = accuracy_score(testY, predictionsY)
print("Accuracy:", result2)

Confusion Matrix:
[[  0  14   0   0   0   0   0   0   0   0]
 [  0 143   0   0   0   0   0   0   0   0]
 [  0 141   0   0   0   0   0   0   0   0]
 [  0  83   0   0   0   0   0   0   0   0]
 [  0 136   0   0   0   0   0   0   0   0]
 [  0  21   0   0   0   0   0   0   0   0]
 [  0  19   0   0   0   0   0   0   0   0]
 [  0  22   0   0   0   0   0   0   0   0]
 [  0  39   0   0   0   0   0   0   0   0]
 [  0  17   0   0   0   0   0   0   0   0]]
Classification Report:
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        14
           1       0.23      1.00      0.37       143
           2       0.00      0.00      0.00       141
           3       0.00      0.00      0.00        83
           4       0.00      0.00      0.00       136
           5       0.00      0.00      0.00        21
           6       0.00      0.00      0.00        19
           7       0.00      0.00      0.00        22
           8       0.00      0.00      0.00        39
           9       0.00      0.00      0.00        17

    accuracy                           0.23       635
   macro avg       0.02      0.10      0.04       635
weighted avg       0.05      0.23      0.08       635

Accuracy: 0.2251968503937008

/Users/zuuz/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))